.education {
    padding: 20px;
  }
  
  .school {
    margin-bottom: 20px;
  }
  
  .school h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
  }
  
  .school p {
    margin: 5px 0;
    font-size: 1.2em;
  }
  